body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.color {
    color: orange;
}

.flexibole {
    display: flex;
    padding-bottom: 135px;
}

.half-world {
    width: 50%;
    padding-left: 15px;
    text-align: justify;
}

.half-world img {
    width: 80%;
}

.buton {
    background-image: linear-gradient(orange, tomato);
    background-color: goldenrod;
    font-weight: bolder;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}

.top-baneer {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.bottom-half img {
    width: 80%;
}

.bottom-half {
    width: 50%;
    padding: 20px;
    text-decoration: justify;
}

.bottom-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.box-world {
    width: 40%;
    text-decoration: justify;
    padding: 25px;
    box-shadow: 10px 10px 40px grey;
    margin-left: 45px;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

#box-body {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#exper {
    border-left: 7px solid;
    border-image: linear-gradient(rgb(13, 192, 132), rgb(197, 131, 9));
    border-image-slice: 1;
}

footer p {
    text-align: center;
}